<phpunit colors="true" strict="true" bootstrap="tests/autoload.php">
    <php>
        <env name="SITE_HOST" value="localhost"/>
        <env name="SELENIUM_HOST" value="http://selenium-standalone-chrome:4444/wd/hub"/>
        <env name="SHOP_ID" value="565155"/>
        <env name="CLIENT_ID" value="19025"/>
        <env name="ORDER_XML_KEY" value="8ea059672ed294383f35af8dc354c3b1"/>
        <env name="SHOPITEM_API_KEY" value="DL2scMwuWQrBmplS4DCcAN5elRQTabTkva2Bk7nYcPfcaFgDUxKxa1pWkgpaSDxKMOI5bhFd"/>
    </php>
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
